@import '../../colors';

.recharts-wrapper {
	margin: 0 auto;
}

.statistics {
	&__title {
		text-align: center;
		font-size: 36px;
		margin: 20px 0;
	}

	&__unauth {
		text-align: center;
		margin-top: 5px;
	}
}
