@import '../../colors';

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	font-weight: 500;
	min-height: 50px;
	padding: 0 30px;

	&__logo {
		font-size: 36px;
	}

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		display: inline-block;
		margin-left: 30px;
		font-size: 24px;

		& > a {
			transition: all .3s;

			&:hover {
				color: $blue;
			}
		}

		& svg {
			fill: $main;
			cursor: pointer;
		}
	}

	&__icon {
		width: 35px;
		height: 35px;
	}

	&.dark {
		background-color: $lightdark;
		color: $white;

		& .menu {
			&__item {
				&  svg {
					fill: $white;
				}
			}
		}
	}
}