@import '../../colors';

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	font-weight: 500;
	min-height: 50px;
	padding: 0 30px;

	&__logo {
		font-size: 36px;
	}

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		position: relative;
		display: inline-block;
		margin-left: 30px;
		font-size: 24px;

		& > a {
			transition: all .3s;

			&:hover {
				color: $blue;
			}
		}

		& svg {
			fill: $main;
			cursor: pointer;
		}
	}

	&__icon {
		width: 35px;
		height: 35px;
	}

	&.dark {
		background-color: $lightdark;
		color: $white;

		& .menu {
			&__item {
				&  svg {
					fill: $white;
				}
			}
		}
	}
}

.menu-language {
	position: absolute;
	display: none;
	right: 22px;
	top: 50px;
	width: 50px;

	&__item {
		margin-top: 10px;
	}

	&__icon {
		height: 50px;
		width: 50px;
		cursor: pointer;
	}

	&_active {
		display: block;
	}
}