@import '../../colors';

.toolbar {
	display: flex;
	min-width: 1px;
	border: 1px solid $main;
	border-radius: 3px;

	&__tool {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background-color: #f5f8fb;
		transition: all .2s;
		cursor: pointer;

		& + & {
			border-left: 1px solid $main;
		}

		&:first-child {
			border-radius: 3px 0 0 3px;
		}

		&:last-child {
			border-radius: 0 3px 3px 0;
		}

		&:hover {
			background-color: #a7c4e1!important;
		}
	}

	&__arrows {
		flex-direction: column;

		& .toolbar__icon {
			width: 100%;
		}

		&:hover {
			background-color: #f5f8fb!important;
		}

		& > div {
			display: flex;
		}

		svg:hover {
			background-color: #a7c4e1;
		}
	}

	&__input {
		font-size: 20px;
		width: 71px;
		padding: 0 0 3px 10px;
		cursor: text;
	}

	&__select {
		width: 100px;
		font-size: 18px;
		padding-left: 3px;
	}

	&__icon {
		width: 20px;
		height: 20px;
		fill: #59738e;
	}
}

.dark.toolbar {
	border: 1px solid $white;

	& .toolbar {
		&__tool {
			background-color: $lightdark;
			color: $white;
		
			&:hover {
				background-color: #8e949e!important;
			}
		}
		
		&__icon {
			fill: $white;
		}
		
		&__tool + .toolbar__tool {
			border-left: 1px solid $white;
		}
		
		&__arrows {
			&:hover {
				background-color: $lightdark!important;
			}
		
			svg:hover {
				background-color: #8e949e!important;
			}
		}
	}
}