@import '../../colors';

.recharts-wrapper {
	margin: 0 auto;
}


.statistics {
	&__title {
		text-align: center;
		font-size: 36px;
		margin: 20px 0;
	}
}

.dark.statistics {
	& .recharts-wrapper {
		& tspan {
			fill: $white;
		}

		& .recharts-rectangle.recharts-tooltip-cursor {
			fill: $lightgray;
		}
	}

	& .statistics {
		&__title {
			color: $white;
		}
	}
}