@import '../../colors';

.current-word {
	position: relative;
	font-family: Verdana;
	font-size: 24px;
	margin: 0 auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	width: 330px;
	padding: 12px 0;

	&__inner {
		width: 999px;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		border: 10px solid transparent; 
	}

	&::before {
		top: 0;
		border-top: 10px solid #000;
	}

	&::after {
		bottom: 0;
		border-bottom: 10px solid #000;
	}

	&__left {
		position: absolute;
		font-size: 8px;
		top: calc(100% + 5px);
		right: 0;
	}

	&__letter {
		color: red;
	}
}

.dark.current-word {
	color: $white;
	border-color: $lightgray;


	&::before {
		border-top-color: $lightgray;
	}

	&::after {
		border-bottom-color: $lightgray;
	}
}